/* Write you application styles here */
.card {
    box-shadow: 3px 3px 3px 3px lightgrey;
    transition: 0.3s;
    min-width: 100%;
    border-radius: 10px 10px 10px 10px;
    border-color: black;
    min-height: 280px;
    margin-bottom: 10px;
    padding: 5px;
}

.card:hover {
    background: #E6E6E6;
}

.waitTimeHeader {
    height: 40px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px;
}

.autoCapital {
    text-transform: capitalize;
    text-align: center;
}

.modal-header {
    padding: 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.alignRight {
    text-align: right;
}

.alignLeft {
    text-align: left;
}

.textAlignLeft {
    text-align: left !important;
}

.summaryHeader {
    text-align: left !important;
    padding-left: 25%;
}

.groupTable {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.noBorderBottom {
    border-bottom: 0
}

.jobStatusStyles {
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.jobStatusHeader {
    font-weight: bold;
    padding-bottom: 0px;
    padding-top: 10px;
    text-align: center;
    color: black;
}

.fontContent {
    /*  font-size: 14px;*/
    font-weight: normal;
}

.jobLogFile {
    text-align: left;
    word-wrap: break-word;
    max-width: 32.6ch !important;
}

.fontContent.jobStatusTable {
    word-wrap: break-word;
    max-width: 8.16ch;
    text-align: center;
}

caption {
    border: 2px solid black;
    border-bottom: 0;
    font-size: 36px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.primaryHeaderText {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

.secondaryHeaderText {
    font-size: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    margin: 5px;
    font-weight: bold;
}

.cardHeaderText {
    font-size: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    margin: 5px;
    font-weight: bold;
}

.alignRight {
    text-align: right;
}

.noborder {
    border: 0px;
    margin: 0;
}

.alignCenter {
    display: block;
    margin: 0 auto;
    align-items: center;
}

.textAlignCenter {
    text-align: center;
    max-width: 7.9ch;
    word-wrap: break-word;
}

.centerTextAlign {
    text-align: center;
    word-wrap: break-word;
}

.alignItemRight {
    align-items: center;
}

.submitBtn {
    width: 120px;
    height: 25px;
    font-size: 18px;
}

.table_no_top_border {
    border: 2px solid black;
    vertical-align: top;
    border-top: none;
    border-collapse: collapse;
    font-weight: bold;
}

.teamData table {
    border: none;
}

.teamData th {
    border: 1px solid black;
    padding: 4px;
}

.teamData td {
    border: 1px solid black;
    padding: 4px;
    text-align: center
}

.high {
    background-color: #fbb;
}

.medium {
    background-color: #fdb;
}

.subTableHolder {
    border-top: none;
}

.avgTitleDisplay {
    height: 40px;
    margin-top: -7px;
}

.titleDisplay {
    margin-top: -10px;
}

.textBold {
    font-weight: bold;
}

.low {
    background-color: #ffb;
}

.nocolor {
    background-color: #FFFFFF;
}

.header {
    background-color: #ffd;
}

.lastUpdatedTime {
    font-size: 11px;
    color: #696969;
    margin-top: 7px;
}

.timeFormat {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

.qslotTextWrap {
    text-align: left;
    word-wrap: break-word;
    max-width: 11.8ch;
    font-weight: bold;
}

.topQslotTextWrap {
    text-align: left;
    word-wrap: break-word;
    max-width: 23ch;
    font-weight: bold;
}

.tierTextWrap {
    text-align: center;
    word-wrap: break-word;
    max-width: 11.8ch;
}

.projectWrap {
    text-align: center !important;
    word-wrap: break-word !important;
    max-width: 30ch !important;
}

.navBarFontSize {
    font-size: 15px;
    font-weight: normal;
    padding: 35px;
}

img {
    max-width: 100%;
    height: auto;
}

/*.active {
    background-color: #3700B3;
    height: -webkit-fill-available;
}*/

.extra-padding {
    padding-left: 120px;
}

.wrapper {
    text-align: center;
    padding-top: -50%;
}

.button {
    position: absolute;
    top: 50%;
}

.colorbutton {
    background: lightblue;
}

.legend {
    float: right;
    margin-top: 10px;
}

.loadButton {
    position: fixed;
    float: left;
    margin-left: 46%;
    font-size: 11px !important;
    bottom: calc(4.6%);
}

.pageSize {
    font-size: 17px;
    width: auto;
}

.navbar-logo {
    float: left;
    height: 30px;
    padding-bottom: 8px;
}

.navbar-brand {
    font-size: 22px;
}

.nav.navbar-nav.navbar-left {
    font-size: 16px;
}

.actionDisabled {
    cursor: not-allowed !important;
}

.actionDisabled > * {
    color: grey !important;
    pointer-events: none !important;
}

.vertical-fixed-button {
    position: fixed;
    background: #205081;
    padding: 5px;
    border: 2px solid white;
    border-top: none;
    font-weight: bold;
    color: white !important;
    display: block;
    white-space: nowrap;
    text-decoration: none !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 0 0 5px 5px;
}

.vertical-right {
    left: 100%;
    top: 40%;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: top left;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: top left;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: top left;
    transform: rotate(90deg);
    transform-origin: top left;
}

.vertical-top {
    left: 100%;
    top: 5%;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: top left;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: top left;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: top left;
    transform: rotate(90deg);
    transform-origin: top left;
}

.vertical-left {
    left: 1%;
    top: 40%;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: top left;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: top left;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: top left;
    transform: rotate(90deg);
    transform-origin: top left;
}

.card {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 15px 15px 15px 15px;
    border-color: #0071c5;
    max-height: 1000px;
    margin-bottom: 20px;
    padding: 5px;
}

.imageTab {
    width: 100%;
    display: block;
    height: 190px;
}

.col-centered {
    float: none !important;
    display: block;
    padding: 10px;
    margin: 0 auto;
}

li:active {
    color: black;
}

.orgSiteLabel {
    color: #fff;
}

.totalRecord {
    font-size: 11px;
    text-align: right;
    float: left;
    margin-left: 15px;
    margin-top: 5px;
}

.ag-pivot-off .ag-header-group-cell {
    font-size: 11px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.ag-header-cell-label .ag-header-cell-text {
    transform: rotate(0deg);
    margin-top: 1px;
    font-weight: bold;
    display: inline-block;
    text-transform: capitalize;
    text-align: center;
}

.ag-cell {
    user-select: initial;
    -moz-user-select: text;
    -ms-user-select: text;
    -webkit-user-select: text;
}

.ag-fresh .ag-header-cell-label .ag-header-cell-text {
    display: inline-block;
    text-align: center;
}

.ag-theme-fresh {
    font-size: 12px !important;
}

.ag-theme-fresh .ag-header {
    font-size: 10px !important;
}

.ag-row-hover {
    /* putting in !important so it overrides the theme's styling as it hovers the row also */
    background-color: #bce1ff !important;
}

.ag-header-cell-menu-button {
    opacity: 1 !important;
    transition: opacity 0.2s ease 0s, border 0.2s ease 0s;
}

.export-file {
    margin: 5px;
    font-size: 11px !important;
}

.form-inline .ui-select-container {
    display: inline-block;
    vertical-align: middle;
    min-width: 80px;
    width: auto;
}

.form-inline .ui-select-container .ui-select-toggle,
.form-inline .ui-select-container .ui-select-search,
.ui-select-dropdown, .ui-select-match, .ui-select-choices {
    width: 100%;
}

.form-inline .ui-select-container .ui-select-toggle,
.form-inline .ui-select-container .ui-select-search {
    min-width: 73px;
    max-width: 93px;
    height: 24px;
}

.ui-select-bootstrap > .ui-select-choices, .ui-select-bootstrap > .ui-select-no-choice {
    overflow-x: auto;
    overflow-y: scroll;
    margin-top: 0px;
}

.right-margin {
    margin-right: 10px;
}

.left-margin {
    margin-left: -10px;
}

.tab-pane {
    height: 20%;
}

.text-white {
    color: #fff;
}

.text-black {
    color: black !important;
}

.intel-color-background {
    background-color: #0071c5 !important;
}

.my-tabset > .ng-isolate-scope > .nav > li > a {
    font-weight: bold;
    position: relative !important;
    display: block !important;
    padding: 3px 20px !important;
    border-color: #0071c5;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #0071c5;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.label-right-margin {
    margin-right: 5px;
}

.header-font {
    /*color: #337ab7 !important;*/
    color: #ffffff !important;
    font-weight: bold !important;
    font-size: 14px !important;
    /*font-style:italic;*/
}

.summary-font {
    color: #505050 !important;
    font-weight: bold !important;
    font-size: 12px !important;
}

.no-bottom-margin {
    margin-bottom: 0px;
}

.header-bottom-margin-correction {
    margin-top: -10px;
}

.ag-screen-adjustment {
    height: 100%;
}

body, head, html {
    width: 100%;
    height: 100%;
    padding-top: 27px !important;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 7px 0 7px 7px;
    border-left-color: #808080;
    margin-top: 3px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #000000;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.site-summary-table {
    border: 0.5px solid;
    color: black;
}

.summary-table {
    margin: auto;
    width: 100%;
    font-size: 12px
}


.site-summary-table-position {
    display: block;
    color: black;
    margin-bottom: 0px
}

.summarymargin {
    margin-bottom: 0px !important;
}

.grid-height {
    height: calc(100% - 27px);
}

.grid-height-summary {
    height: calc(100% - 70px);
}

.grid-height-mc {
    height: calc(100% - 150px);
}

.LoadWaitingJobs {
    float: right;
    padding: 10px;
}

.storage-grid-height {
    height: calc(100% - 24px);
}

.summary-grid-height {
    height: calc(100% - 42px);
}

.centerAlignText {
    text-align: center;
}

#selectedTier {
    height: 28px;
}

.selectdirective .ui-select-search {
    min-width: 30px !important;
    width: 93px !important;
    max-width:93px !important;
}

.selectdirective {
    display: inline-block !important;
    vertical-align: middle !important;
    width: auto !important;
    min-width: 93px !important;
}

.singleselect .ui-select-toggle {
    min-width: 84px !important;
    width: 84px !important;
}

.singleselect .ui-select-search {
    min-width: 84px !important;
    width: 84px !important;
}

.singleselect {
    min-width: 84px !important;
    width: 84px !important;
}

/*.gridwidth {
    opacity: 0;
}*/


/***multiselect css starts**/


multiselect {
    display: block;
}

multiselect > .btn-group {
    min-width: 65px;
}

multiselect .btn {
    width: 100%;
    background-color: #FFF;
}

multiselect .btn.has-error {
    border: 1px solid #a94442 !important;
    color: #db524b;
}

multiselect .dropdown-menu {
    max-height: 300px;
    min-width: 150px;
    overflow-y: auto;
}

multiselect .dropdown-menu .filter > input {
    width: 99%;
}

multiselect .dropdown-menu .filter .glyphicon {
    cursor: pointer;
    pointer-events: all;
}

multiselect .dropdown-menu {
    width: 100%;
    box-sizing: border-box;
    padding: 2px;
}

multiselect > .btn-group > button {
    padding-right: 20px;
}

multiselect > .btn-group > button > .caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid black;
    right: 5px;
    top: 45%;
    position: absolute;
}

multiselect .dropdown-menu > li > a {
    padding: 3px 10px;
    cursor: pointer;
}

multiselect .dropdown-menu > li > a i {
    margin-right: 4px;
}

.glyphicon-none:before {
    content: "\e013";
    color: transparent !important;
}

@media only screen and (min-width: 1600px) {
    multiselect > .btn-group {
        min-width: 180px;
    }

    multiselect .dropdown-menu {
        max-height: 300px;
        min-width: 200px;
        overflow-y: auto;
    }
}

/*****multiselect selection ends*****/


.form-inline .form-group {
    display: inline-flex;
}

.panel-heading {
    padding: 1px 0px 1px 6px !important;
    background-color: #0071c5;
}

.label-top-margin {
    margin-top: 3px;
    margin-bottom: 0px;
}

.no-min-height {
    min-height: 0 !important;
}

.ui-select-toggle {
    height: 24px;
}

.ui-select-match-text {
    margin-top: -1px;
    font-size: 10px;
}

.spends-height {
    height: calc(100% - 35px);
}

.top-job-height {
    height: 100%;
}

.cpuloadbutton {
    position: fixed;
    float: left;
    margin-left: 46%;
    font-size: 11px !important;
    bottom: 63px;
}

.memloadbutton {
    position: fixed;
    float: left;
    margin-left: 46%;
    font-size: 11px !important;
    bottom: 36px;
}

.storageloadButton {
    position: fixed;
    float: left;
    margin-left: 46%;
    font-size: 11px !important;
    bottom: 39px;
}

.navbar-bg {
    background: #f5f5f5;
}

.ag-pinned-left-floating-bottom .ag-row {
    background: #bce1ff !important;
    color: #262626  !important;
}

.ag-floating-bottom-container .ag-row {
    background: #bce1ff !important;
    color: #262626 !important;
    font-style: italic;
}

/*.ag-floating-bottom-container .ag-cell span{
    color: #337ab7 !important;
}
.ag-pinned-left-floating-bottom .ag-row .ag-cell span{
    color: #337ab7 !important;
}*/
.hpc-footer-btn {
    background: #337ab7 !important;
    border: #337ab7 !important;
}

/*.ag-floating-bottom-container .ag-row .ag-cell-value{
    color: #337ab7 !important;
}*/

.noaButton {
    position: fixed;
    float: left;
    margin-left: 46%;
    font-size: 11px !important;
    bottom: 65px;
}

.table-font {
    color: #505050 !important;
    font-weight: 700 !important;
    font-size: 12px !important;
}

.title-font {
    color: #fff !important;
    font-weight: bold !important;
    font-size: 19px !important;
    font-style: italic;
}

.selc-hover {
    height: auto;
    width: auto;
    overflow: auto;
    position: absolute;
    background: white;
    border: 1px solid transparent;
    border-color: #ccc;
    border-radius: 4px;
    word-break: break-word;
    font-size: 16px;
    padding: 4px;
    z-index: 3;
}

a {
    cursor: pointer;
}
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
    background-color: #3071a9;
    border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
    color: #428bca;
    background-color: #fff;
    border-color: #428bca;
    border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}

.ui-select-choices-row-inner  td,.ui-select-choices-row-inner  th,.ui-select-choices-row-inner  table {
    border: 0 !important;
    border-collapse: collapse;
    padding: 5px;
}

.form-inline .size .ui-select-container {
    min-width: 53px!important;
}

.size .ui-select-toggle {
    min-width: 53px!important;
}

.user-tbl {
    width: auto;
    margin: auto;
    margin-top: 6px;
}

.user-tbl1 {
    width: auto;
    margin: auto;
    margin-top: 2px;
}

.user-tbl td {
    min-width: 150px;
}

.user-tbl1 td {
    min-width: 104px;
    text-align: center;
}
.user-tbl-header {
    background-color:#0071c5;
    color:#fff;
}

.selc-user > .ui-select-container .ui-select-toggle,
.selc-user > .ui-select-container .ui-select-search {
    min-width: 73px !important;
    max-width: 108px !important;
    height: 29px !important;
}

.selc-user > .ui-select-container {
    min-width: 108px;
}

.selc-user .ui-select-match-text {
    margin-top: -2px;
    font-size: 14px !important;
}

.gridwidth {
    opacity: 0;
    }
.ag-row.ag-row-level-1 {
    color: darkslategray !important;
    font-size: 11px;
}

/*userView*/

.user-view-table-font {
    font-size: 12px;
}

.user-view-table-lvl1-font {
    vertical-align: middle !important;
    text-align: center !important;
    font-weight: bold !important;
    font-size: 14px !important;
}

.user-view-table-lvl2-font {
    vertical-align: middle !important;
    font-style: italic !important;
    font-size: 13px !important;
}

.user-view-time-table {
    height: 80px;
    width: 220px;
    position:relative;
    float:right;
    top:-115px;
    border-radius:3px;
    border:1px solid #0071c5
}
