/* Write you application styles here */


.navbar-logo {
    float: left;
    height: 30px;
    padding-bottom: 8px;
}

.navbar-brand {
    font-size: 22px;
}

.nav.navbar-nav.navbar-left {
    font-size: 16px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #0071c5;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 7px 0 7px 7px;
    border-left-color: #808080;
    margin-top: 3px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #000000;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
